global:
  checkNewVersion: false
  sendAnonymousUsage: false

accessLog: {}
ping: {}

entryPoints:
  web:
    address: :80
    http:
      redirections:
        entryPoint:
          to: websecure
          scheme: https
          permanent: true
  websecure:
    address: :443
    http:
      tls:
        certResolver: le

providers:
  swarm:
    exposedByDefault: false
    network: portfolio

certificatesResolvers:
  le:
    acme:
      email: alexmandrik@pm.me
      storage: /letsencrypt/acme.json
      httpChallenge:
        entryPoint: web
